#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}

.read-the-docs {
  color: #888;
}
*/ .Footer {
  /* footer */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px auto 88px;
  gap: 0px;

  position: absolute;
  width: 100%;
  height: 692px;
  left: 0px;
  top: 5793px;

  /* Gray/23 */

  background: #0e1114;
}
.contentFooter Footer {
  gap: 120px;
}
* {
  font-family: "Panchang", sans-serif;
}
.panchang {
  font-family: "Panchang", sans-serif;
}
.Navbar {
  padding: 20px 132px;
  gap: 100px;

  position: absolute;
  width: 100%;
  height: 88px;
  left: 0px;
  top: 0px;

  /* Gray/24 */

  background: #080a0c;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
  color: #ffbb02;
  scale: 135%;
}
.toastSuccess {
  color: #64D121;
  scale: 135%;
}
